<% @title="Edit #{resource_name.to_s.humanize}" %>
<% @right_nav_links = personal_right_nav_links %>

<fieldset>
  <legend>Logo</legend>
  <img src="<%= email2logo resource.email %>" title="<%= resource.email %>">
</fieldset>
<p>&nbsp;</p>
<%= bootstrap_form(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.error_messages %>

    <%= f.fieldset do %>
        <%= f.legend(@title) %>

        <%= f.group do %>
            <%= f.label :email %><br/>
            <%= f.email_field :email, readonly: true %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
        <% end %>

        <%= f.group do %>
            <%= f.label :username %>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-2">
                  <%= f.super_text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'First Name' %>
                </div>
                <div class="col-sm-2">
                  <%= f.super_text_field :middle_name, class: 'form-control', placeholder: 'Middle Name' %>
                </div>
                <div class="col-sm-2">
                  <%= f.super_text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
                </div>
              </div>
            </div>
        <% end %>


        <%= f.group do %>
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: 'off' %>
            <i>(leave blank if you don't want to change it)</i>
        <% end %>

        <%= f.group do %>
            <%= f.label :password_confirmation %><br/>
            <%= f.password_field :password_confirmation, autocomplete: 'off' %>
        <% end %>

        <%= f.group do %>
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: 'off' %>
            <i>(we need your current password to confirm your changes)</i>
        <% end %>

        <%= f.button_group do %>
            <%= f.submit "Update" %>
        <% end %>
    <% end %>
<% end %>

<% unless current_user.is_root? %>
    <p>&nbsp;</p>
    <h3>Cancel my account(Unhappy?)</h3>
    <hr>
    <p>
      <%= button_to 'Cancel my account', registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: 'btn btn-danger' %>
    </p>
<% end %>
