<% @title='Sign up' %>

<%= bootstrap_form(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <%= f.error_messages %>


    <%= f.fieldset do %>
        <%= f.legend(t('buttons.personal.register')) %>

        <%= f.group do %>
            <%= f.label :label %>
            <%= f.name_field :label, autofocus: true %>
        <% end %>

        <%= f.group do %>
            <%= f.label :username %>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-2">
                  <%= f.super_text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
                </div>
                <div class="col-sm-2">
                  <%= f.super_text_field :middle_name, class: 'form-control', placeholder: 'Middle Name' %>
                </div>
                <div class="col-sm-2">
                  <%= f.super_text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
                </div>
              </div>
            </div>
        <% end %>

        <%= f.group do %>
            <%= f.label :email %>
            <%= f.email_field :email %>
        <% end %>
        <%= f.group do %>
            <%= f.label :password %>
            <% if @validatable %>
                <i>(<%= @minimum_password_length %> characters minimum)</i>
            <% end %>
            <%= f.password_field :password, autocomplete: 'off' %>
        <% end %>
        <%= f.group do %>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: 'off' %>

        <% end %>
        <%= f.button_group do %>
            <%= f.submit 'Sign up' %>
            <%= render 'devise/shared/links' %>
        <% end %>

    <% end %>

<% end %>

